klient/.cproject
klient/.project
klient/.settings/language.settings.xml
klient/Debug/klient
klient/Debug/makefile
klient/Debug/objects.mk
klient/Debug/sources.mk
klient/Debug/subdir.mk
klient/Debug/src/klient.d
klient/Debug/src/klient.o
klient/Debug/src/subdir.mk
klient/src/klient
serwer/.cproject
serwer/.project
serwer/.settings/language.settings.xml
serwer/Debug/makefile
serwer/Debug/objects.mk
serwer/Debug/serwer
serwer/Debug/sources.mk
serwer/Debug/subdir.mk
serwer/src/serwer
serwer/Debug/src/subdir.mk
serwer/Debug/src/serwer.o
serwer/Debug/src/serwer.d
